
html{
    background-image:url('5.jpg');
	height: 100vh;
    width: 100vw;
	background-size: cover;
	background-repeat: repeat;
	
    
}
.regis{
    color: violet;
}


#feedback-page{
	text-align:center;
}
.img1{
	color: white;
	font-size: 18px;
	border-style: double;
	text-align: center;

}

#form-main{
	width:100%;
	float:left;
	padding-top:0px;
}

#form-div {
	background-color: rgba(72,72,72,0.4);
	padding-left:35px;
	padding-right:35px;
	padding-top:35px;
	padding-bottom:50px;
	width: 450px;
	float: left;
	left: 50%;
	position: absolute;
  margin-top:30px;
	margin-left: -260px;

 
}

.feedback-input {
	color: gray;
	font-family: Helvetica, Arial, sans-serif;
  font-weight:500;
	font-size: 18px;
	
	line-height: 22px;
	background-color: sgow;
	padding: 13px 13px 13px 54px;
	margin-bottom: 10px;
	width:100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
  border: 3px solid rgba(0,0,0,0);
}

.feedback-input:focus{
	background: #fff;
	box-shadow: 0;
	border: 3px solid #30aed6;
	color:gray;
	outline: none;
  padding: 13px 13px 13px 54px;
}


.focused{
	color:gray ;
	border:#30aed6  solid 3px;
}

/* Icons ---------------------------------- */
#name{
	background-image: url('man.png');
	background-size: 30px 30px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
}

#name:focus{
	background-image: url('man.png');
	background-size: 30px 30px;
	background-position: 8px 5px;
  background-position: 11px 8px;
	background-repeat: no-repeat;
}

#email{
	background-image: url('8.svg');
	background-size: 30px 30px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
}

#email:focus{
	background-image: url('8.svg');
	background-size: 30px 30px;
  background-position: 11px 8px;
	background-repeat: no-repeat;
}
#idcard{
	background-image: url('6.svg');
	background-size: 30px 30px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
}

#idcard:focus{
	background-image: url('6.svg');
	background-size: 30px 30px;
  background-position: 11px 8px;
	background-repeat: no-repeat;
}
#idline{
	background-image: url('7.svg');
	background-size: 30px 30px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
}

#idline:focus{
	background-image: url('7.svg');
	background-size: 30px 30px;
  background-position: 11px 8px;
	background-repeat: no-repeat;
}
#Phone{
	background-image: url('9.svg');
	background-size: 30px 30px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
}

#Phone:focus{
	background-image: url('9.svg');
	background-size: 30px 30px;
  background-position: 11px 8px;
	background-repeat: no-repeat;
}
#lip{
	background-image: url('25.svg');
	background-size: 30px 30px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
}

#lip:focus{
	background-image: url('25.svg');
	background-size: 30px 30px;
  background-position: 11px 8px;
	background-repeat: no-repeat;
}
#pro{
	background-image: url('26.svg');
	background-size: 30px 30px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
}

#pro:focus{
	background-image: url('26.svg');
	background-size: 30px 30px;
  background-position: 11px 8px;
	background-repeat: no-repeat;
}
#img{
	background-image: url('14.svg');
	background-size: 30px 30px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
}

#img:focus{
	background-image: url('14.svg');
	background-size: 30px 30px;
  background-position: 11px 8px;
	background-repeat: no-repeat;
}


#button-blue{
	font-family: 'Montserrat', Arial, Helvetica, sans-serif;
	float:left;
	width: 100%;
	border: #fbfbfb solid 4px;
	cursor:pointer;
	background-color: #3498db;
	color:white;
	font-size:24px;
	padding-top:22px;
	padding-bottom:22px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
  margin-top:-4px;
  font-weight:700;
}

#button-blue:hover{
	background-color: rgba(0,0,0,0);
	color: #0493bd;
}
	
.submit:hover {
	color: #3498db;
}
	
.ease {
	width: 0px;
	height: 74px;
	background-color: #fbfbfb;
	-webkit-transition: .3s ease;
	-moz-transition: .3s ease;
	-o-transition: .3s ease;
	-ms-transition: .3s ease;
	transition: .3s ease;
}

.submit:hover .ease{
  width:100%;
  background-color:white;
}

@media only screen and (max-width: 580px) {
	#form-div{
		left: 3%;
		margin-right: 3%;
		width: 88%;
		margin-left: 0;
		padding-left: 3%;
		padding-right: 3%;
	}
}